In [1]:
import sqlite3

connexion = sqlite3.connect("vivino.db")
cursor = connexion.cursor()

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('vivino.db')

# SQL query to select data from the database
query = "SELECT * FROM grapes"

#Execute the query and fetch the results
df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Export DataFrame to CSV
df.to_csv('grapes.csv', index=False)

# replace 'grapes' and 'grapes.csv' by the table and the file name you want to export it as

In [18]:
# Order vintages by rank
cursor.execute("""
    SELECT vintage_id, rank, previous_rank
    FROM 
        vintage_toplists_rankings
    ORDER BY rank
    LIMIT 10;
""")
cursor.fetchall()

[(1161459, 1, 1),
 (6880159, 1, 1),
 (6988511, 1, 1),
 (14187320, 1, 1),
 (1411331, 1, 1),
 (6457741, 1, 1),
 (105812, 1, 1),
 (7372117, 1, 1),
 (1602232, 1, 1),
 (1602232, 1, 1)]

In [21]:
# Order vintages by rank
cursor.execute("""
    SELECT vintage_id, name, wine_id, rank
    FROM 
        vintage_toplists_rankings
        INNER JOIN vintages ON vintages.id = vintage_toplists_rankings.vintage_id
    ORDER BY rank
    LIMIT 10;
""")
cursor.fetchall()

[(1161459,
  'Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne 1996',
  1127349,
  1),
 (6880159, 'Masseto Toscana 2006', 2446729, 1),
 (6988511, 'Masseto Toscana 2005', 2446729, 1),
 (14187320, 'Scarecrow Cabernet Sauvignon 2015', 1611255, 1),
 (1411331, 'Ornellaia Bolgheri Superiore 2005', 22447, 1),
 (6457741, 'Masseto Toscana 2010', 2446729, 1),
 (105812, 'Château Rayas Châteauneuf-du-Pape 2006', 87552, 1),
 (7372117, 'Masseto Toscana 2004', 2446729, 1),
 (1602232, 'Château Rayas Châteauneuf-du-Pape 2001', 87552, 1),
 (1602232, 'Château Rayas Châteauneuf-du-Pape 2001', 87552, 1)]

In [52]:
# Order vintages by ratings_average and year
cursor.execute("""
    SELECT vintage_id, name, wine_id, ratings_average AS rating, price_euros AS price
    FROM 
        vintage_toplists_rankings
        INNER JOIN vintages ON vintages.id = vintage_toplists_rankings.vintage_id
    ORDER BY rating DESC , year DESC        
    LIMIT 10;
""")
cursor.fetchall()

[(14187320, 'Scarecrow Cabernet Sauvignon 2015', 1611255, 4.8, 1558.75),
 (6880159, 'Masseto Toscana 2006', 2446729, 4.8, 4910.0),
 (6988511, 'Masseto Toscana 2005', 2446729, 4.8, 4697.5),
 (6988511, 'Masseto Toscana 2005', 2446729, 4.8, 4697.5),
 (93707,
  'Château Lafite Rothschild Pauillac (Premier Grand Cru Classé) 2003',
  3908,
  4.8,
  1900.0),
 (93707,
  'Château Lafite Rothschild Pauillac (Premier Grand Cru Classé) 2003',
  3908,
  4.8,
  1900.0),
 (2641965,
  'Château Latour Grand Vin Pauillac (Premier Grand Cru Classé) 2003',
  1655970,
  4.8,
  1686.25),
 (1688597, 'Krug Clos du Mesnil 2000', 79635, 4.8, 3096.25),
 (1161459,
  'Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne 1996',
  1127349,
  4.8,
  2882.5),
 (1161459,
  'Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne 1996',
  1127349,
  4.8,
  2882.5)]

In [34]:
# Order by ratings_average from Wines
cursor.execute("""
    SELECT name, ratings_average AS rating, ratings_count AS count
    FROM wines
    ORDER BY rating DESC
    LIMIT 10;
""")
cursor.fetchall()

[('Amarone della Valpolicella Classico Riserva', 4.8, 587),
 ('Cabernet Sauvignon', 4.8, 2941),
 ('Mágico', 4.8, 146),
 ('Fratini Bolgheri Superiore', 4.8, 153),
 ('Cristal Rosé Vinothèque', 4.8, 88),
 ('Batard-Montrachet Grand Cru', 4.8, 34),
 ('IX Estate Red', 4.7, 2810),
 ('Special Selection Cabernet Sauvignon', 4.7, 41236),
 ('Unico Reserva Especial Edición', 4.7, 13025),
 ('Unico', 4.7, 45140)]

In [51]:
# 1. We want to highlight 10 wines to increase our sales. 
# Which ones should we choose and why?

# Order by ratings_average from Wines SELECT regions.name AND countries.name
cursor.execute("""
    SELECT wines.name AS name, regions.name AS region, countries.name AS country, ratings_average AS rating
    FROM wines
    INNER JOIN regions ON regions.id = wines.region_id
    INNER JOIN countries ON countries.code = regions.country_code
    ORDER BY rating DESC
    LIMIT 10;
""")
cursor.fetchall()

[('Amarone della Valpolicella Classico Riserva',
  'Amarone della Valpolicella Classico',
  'Italie',
  4.8),
 ('Cabernet Sauvignon', 'Rutherford', 'États-Unis', 4.8),
 ('Mágico', 'Rioja', 'Espagne', 4.8),
 ('Fratini Bolgheri Superiore', 'Bolgheri Superiore', 'Italie', 4.8),
 ('Cristal Rosé Vinothèque', 'Champagne', 'France', 4.8),
 ('Batard-Montrachet Grand Cru', 'Bâtard-Montrachet Grand Cru', 'France', 4.8),
 ('IX Estate Red', 'Napa Valley', 'États-Unis', 4.7),
 ('Special Selection Cabernet Sauvignon', 'Napa Valley', 'États-Unis', 4.7),
 ('Unico Reserva Especial Edición', 'Ribera del Duero', 'Espagne', 4.7),
 ('Unico', 'Ribera del Duero', 'Espagne', 4.7)]

In [47]:
# Order by ratings_average from Wines SELECT regions.name, wineries.name
cursor.execute("""
    SELECT wines.name, wineries.name AS winery, regions.name AS region, countries.name AS country, ratings_average AS rating
    FROM wines
    INNER JOIN regions ON regions.id = wines.region_id
    INNER JOIN countries ON countries.code = regions.country_code
    INNER JOIN wineries ON wineries.id = wines.winery_id
    ORDER BY rating DESC
    LIMIT 10;
""")
cursor.fetchall()

# The wineries table doesn't link properly to the wines table. 
# Match only gives four items so not useful.

[('The Armagh Shiraz',
  "Tenuta Tignanello 'Solaia'",
  'Clare Valley',
  'Australie',
  4.5),
 ('Raut Lagrein',
  'Corte di Cama Sforzato di Valtellina',
  'Südtirol - Alto Adige',
  'Italie',
  4.5),
 ('Colheita Porto', 'Tignanello', 'Porto', 'Portugal', 4.4),
 ('Lion Tamer Napa Valley Red Blend',
  'Siepi',
  'Napa Valley',
  'États-Unis',
  4.3)]